.contact-data {
  margin-bottom: 3rem;
}

.checkbox-list {
  color: var(--text-body);
  margin-top: 3rem;

}

.custom-checkbox {
  display: none;
}

.custom-checkbox + label {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: .75rem;
  font-size: 14px;
}

.custom-checkbox + label::before {
  content: '';
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 6px;
  margin-right: 8px;
  border: 2px solid var(--input-stroke);
  background: var(--input-base);
  transition: all 0.3s ease; 
}

.custom-checkbox:checked + label::before {
  border-color: #59B2FF;
  background-image: url(assets/check.svg);
  background-repeat: no-repeat;
  background-position: 50%;
}

.checkbox-item {

  label {
    strong {
      color: #59B2FF;
      text-decoration: underline;
      padding-inline: 4px;
      
    } 

  }
}

