main {
& .main-container {
  max-width: 50rem;
  padding-inline: 4rem;
  padding-block: 5rem;

  & h1 {
    padding-bottom: 2.5rem;
  }

}
 }

fieldset {
  border: none;
  display: grid;
  gap: 1rem;

   & legend {
    font-size: 1.125rem;
    padding-bottom: 1.5rem;
    display: flex;
    gap: .75rem;
  }

  & label {
    font-size: 0.875rem;
    margin-bottom: 0.8rem;
    display: block;
  }

  input, textarea, select {
  appearance: none;
  width: 100%;
  border-radius: .5rem;
  border: 1px solid var(--input-stroke);
  padding: .75rem 1rem;
  font: var(--font-family-body);
  background-color: var(--input-base);
  color: var(--text-heading);
}
}

fieldset + fieldset {
  margin-top: 3rem;
}

/* bolinhas */
.color-picker {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
}


/* label */
.color-option {
    position: relative;
    cursor: pointer;
}

/* esconde o input */
.color-option input {
    display: none;
}

/* bolinha colorida */
.color-option span {
    display: inline-flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.18);
    position: relative;
    transition: 0.25s;
}

/* círculo colorido */
.color-option span::after {
    content: "";
    position: absolute;
    inset: 1px; 
    border-radius: 50%;
    background: var(--c);
}


/* quando está selecionado */
.color-option input:checked + span {
    border: 3px solid #4aa8ff;

}

.radio-wrapper2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: .5rem;

}

.radio-inner {

  background-color: var(--shape-button);
  border-radius: .5rem;
  display: grid;
  grid-template-rows: auto;
  justify-items: center;
  gap: .5rem;
  padding: 4px;
  position: relative;

  & img {
  width: 100%;
  object-fit: cover;
}

  & label {
    margin-bottom: 3px;
  }

  & input,
  & input:focus,
  & input:hover {
    all : unset;
    position: absolute;
    inset: 0;
  }

}

.radio-wrapper2 input:checked {
    border: 3px solid #4aa8ff;
    border-radius: .5rem;

}

.type-options {
  display: flex;
  gap: 2px;
  width: 100%;
  appearance: none;
  width: 100%;
  border-radius: .5rem;
  border: 1px solid var(--input-stroke);
  padding: 3px;
  font: var(--font-family-body);
  background-color: var(--input-base);
}

.type-button {
  flex: 1;                            
  display: flex;
  align-items: center;
  gap: .5rem;
  justify-content: center;

  border: 1px solid var(--stroke-default);
  border-radius: .5rem;
  padding: 10.5px;
  cursor: pointer;

  position: relative;
  user-select: none;
}

/* remover o radio original */
.type-button input {
  all: unset;
  position: absolute;
  inset: 0;
  cursor: pointer;
}


/* estilo quando selecionado */
.type-button:has(input:checked) {
  background: var(--shape-button);
}

.type-button:has(input:checked) span {
  font-weight: 600;
}

fieldset label.type-button {
  margin-bottom: 0;
}

.input-wrapper {
  margin: 0;
  padding: 0;
}

.row {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
}

button[type=submit]{
  background-color: #1D6FB6;
  border-radius: 8px;
  color: var(--text-heading);
  cursor: pointer;
  padding-block: 0.875rem;
  padding-inline: 1.25rem;
  border: none;
  display: flex;
  margin-left: auto;
  margin-top: 3rem;
}

.submit-button {  
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: 16px;
  color: var(--text-heading);
}
