* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family-body:  "Open Sans", sans-serif;
  --font-family-header:  "Baloo 2", sans-serif;

  --shape-body: #212427;
  --shape-background: #131516;
  --shape-button: #2D3136;
  --shape-hover: #383D42;

  --text-body: #C8CDD0;
  --text-heading: #F9F9F9;

  --input-base: #1C1F21;
  --input-stroke: #363B40;
  --input-placeholder: #869198;

  --danger: #FF5959;

}

body {
  background-color: var(--shape-body);
  color: var(--text-body);
  font-family: var(--font-family-body);

  & h1, legend {
    color: var(--text-heading);
    font-family: var(--font-family-header);
  }

}

.flex {
  display: flex;
  gap: 1rem;
}