.theme-toggle {
  display: flex;
  align-items: center;
  gap: .75rem;
}

#themeLabel {
  color: var(--text-heading);
  font-size: 14px;
  font-weight: 350; 
}

.switch {
  position: relative;
  width: 50px;
  height: 26px;
  display: inline-flex;
  align-items: center;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
} 

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  border-radius: 34px;
  background-color: var(--input-base);
  transition: 0.4s;
  border: 1px solid var(--input-stroke);
}

.slider:before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  top:2px;
  border-radius: 50%;
  background-color: var(--input-stroke);
  transition: 0.4s;
}

/* Ligado */
.switch input:checked + .slider {
  background-color: #2f9aff;
}

.switch input:checked + .slider:before {
  transform: translateX(24px);
  background-color: white;
}

.theme-toggle > * {
  display: flex;
  align-items: center;
}